<div class="row">
    <div class="col-md-12">
        <nb-card class="inline-form-card" [nbSpinner]="loadingPeraturan" nbSpinnerStatus="primary" nbSpinnerSize="giant">
            <nb-card-header>
                <div class="row" style="padding-left: 0.85rem;">
                    <nb-icon icon="inbox-outline" status="success"></nb-icon>
                    <h6 style="margin-left: 0.4rem;">Cari Peraturan</h6>
                </div>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">
                        <nb-select fullWidth [(ngModel)]="cd_rgl_typ" placeholder="Jenis Peraturan" matRipple name="jenisPeraturan">
                            <nb-option matRipple value="2">PP / Peraturan Pemerintah</nb-option>
                            <nb-option matRipple value="4">KMK / Keputusan Menteri Keuangan</nb-option>
                            <nb-option matRipple value="5">PMK / Peraturan Menteri Keuangan</nb-option>
                            <nb-option matRipple value="6">Kepdirjen / Keputusan Direktur Jenderal </nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md-8 form-inline">
                        <input (keyup.enter)="onSearchPeraturan()" [(ngModel)]="search" name="search" id="search" placeholder="Cari..." type="text" nbInput fullWidth />
                        <button (click)="onSearchPeraturan()" nbButton status="primary">
                            <nb-icon icon="search-outline"></nb-icon>Cari
                        </button>
                    </div>
                </div>
                <div class="row" *ngIf="showSearchResults">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" style="border-radius: 5%;">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nama</th>
                                        <th scope="col">Deskripsi</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of peraturanList; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.description }}</td>
                                        <td><a (click)="onViewPeraturan(item)" class="btn btn-sm btn-primary">
                                                <span style="color: #fff; cursor: pointer;" class="fa fa-eye"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer [ngStyle]="{'display': showSearchResults}">
                <ngx-pagination (getDataSource)="getPeraturan($event)"></ngx-pagination>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
<div class="infinite-cards row">
    <div class="col-md-12 col-lg-12 col-xxxl-12">
        <nb-card class="own-scroll">
            <nb-card-header>
                <div class="row" style="padding-left: 0.85rem;">
                    <nb-icon icon="list-outline" status="success"></nb-icon>
                    <h6 style="margin-left: 0.4rem;">List Peraturan</h6>
                </div>
            </nb-card-header>
            <nb-list nbInfiniteList [threshold]="500" (bottomThreshold)="loadNext(firstCard)">
                <nb-list-item *ngFor="let item of firstCard.peraturan">
                    <div class="list-group">
                        <a style="cursor: pointer;" (click)="onViewPeraturan(item)" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ item.name }}</h5>
                                <small>1 days ago</small>
                            </div>
                            <p class="mb-1">{{ item.description }}</p>
                            <small>Dibaca sebanyak 10 kali</small>
                        </a>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>