<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-6" (click)="onGoTo('materi')">
      <div class="card">
        <img src="assets/images/presentation-design.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Materi Presentasi Hibah</h5>
          <p class="card-text">Kumpulan materi-materi mengenai presentasi, diseminasi, sosialisasi dan materi terkait tersedia disini.</p>
        </div>
      </div>
    </div>
    <div class="col mb-6" (click)="onGoTo('prosedur')">
      <div class="card">
        <img src="assets/images/business-process.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Prosedur</h5>
          <p class="card-text">Merupakan kumpulan dokumen juknis terkait dengan hibah dan aplikasi Hibah Terintegrasi.</p>
        </div>
      </div>
    </div>
    <div class="col mb-6" (click)="onGoTo('faq')">
      <div class="card">
        <img src="assets/images/FAQ.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">FAQ</h5>
          <p class="card-text">Merupakan kumpulan pertanyaan yang sering ditanyakan terkait dengan aplikasi Hibah Terintegrasi.</p>
        </div>
      </div>
    </div>
  </div>