@import '../../../../../@theme/styles/themes';

@include nb-install-component() {

  div[class^=col-] {
       margin-bottom: 1rem;
  }

  input:disabled { 
    color: nb-theme(text-basic-color);
  }

  th, td {
    font-size: .8rem;
  }

  th {
    background-color: nb-theme(background-basic-color-2);
  }

  input {
    width: 100%;
  }

  .success {
    margin-right: 1rem;
  }
  
}